* {
  padding: 0;
  margin: 0;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

body {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template: 180px 1fr / 250px 1fr;
}

.sideBar {
  background-color: #1992d4;
  grid-row: 1 / 3;
  color: white;
  padding: 20px;
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-auto-rows: 50px;
  gap: 10px;
  font-size: 1.2rem;
}

.sideBar>.material-icons {
  justify-self: center;
}

.sideBar * {
  align-self: center;
}

.sideBar a {
  text-decoration: none;
  color: white;
}

.header {
  background-color: white;
  display: grid;
  grid-template-rows: 1fr 1.2fr;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}


.header>div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header>div>div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header input {
  background-color: #e2e8f0;
  outline: none;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  padding: 5px 10px 5px 10px;
  width: 550px;
}

.header .info {
  font-weight: 600;
  margin-bottom: 12px;
}

.header .info .name {
  font-weight: 700;
  font-size: 1.3rem;
}

.header button {
  border: none;
  background-color: #1992d4;
  color: white;
  font-size: 1.2rem;
  padding: 10px 30px;
  border-radius: 30px;
  cursor: pointer;
}

img.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.header .row-2 .avatar {
  width: 70px;
  height: 70px;
}

body>.content {
  background-color: #e2e8f0;
  box-shadow: inset 3px 5px 10px -5px black;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
  padding: 20px;
  overflow-y: scroll;
}

.content .projects>.title,
.content .announcements>.title,
.content .trending>.title {
  font-size: 1.5rem;
  font-weight: 600;
  background-color: #e2e8f0;
  grid-column: 1/3;
}

.content .projects {
  grid-row: 1 / 3;

  display: grid;
  grid-template-rows: 40px;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 250px;
  gap: 20px;
}

.content .projects .title {
  align-self: center;
}

.content .project {
  background-color: white;
  border-radius: 20px;
  padding: 30px 20px;
  display: grid;
  grid-template-rows: 50px 1fr;
}

.content .project .name {
  font-size: 1.5rem;
  font-weight: 600;
}

.content .project .description {
  font-size: 1.2rem;
}

.content .project .icons {
  display: flex;
  justify-content: end;
  gap: 30px;
}

.content .project .icons .material-icons {
  font-size: 2rem;
  cursor: pointer;
}

.content .announcements {
  display: grid;
  grid-template-rows: 40px;
  grid-template-columns: 1fr;
}

.content .announcements .content,
.content .trending .content {
  background-color: white;
  border-radius: 20px;
  padding: 20px 30px;
}

.content .announcements .content .title {
  font-weight: 600;
  margin-bottom: 5px;
}

.content .trending {
  display: grid;
  grid-template-rows: 40px;
  grid-template-columns: 1fr;
}

.content .trending .content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content .trending .content>div,
.content .trending .content>a {
  text-decoration: none;
  color: black;
  display: flex;
  gap: 15px;
}

.content .trending .content .info {
  display: flex;
  flex-direction: column;
}

.content .trending .content .info .title {
  font-weight: 600;
  padding-bottom: 5px;
}

hr {
  margin: 20px 10px;
}